@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
	box-sizing: border-box
}

h1 {
    font-size: 2rem;
    font-style: italic;
    color: blueviolet; 
}

.sections {
    
}

.button {

}

.output { 
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
}

#firstButton {
    font-size: 2rem;
    font-style: italic;
    color: green;
}

#secondButton {
    font-size: 2rem;
    font-style: italic;
    color: white;
    background-color: lightgrey;
}

#thirdButton {
    font-size: 2rem;
    font-style: italic;
    color: orange;
}