@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Irish Grover';
	text-align: center;
}

h1 {
	font-size: 3rem;
	font-style: italic;
	color: rgb(22, 219, 22);
	margin: 20px auto;
	text-align: center;
	font-family: 'Irish Grover';
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
	color: rgb(22, 219, 22);
}

#guide {
	height: 50vh;
	width: 100%;
	background-image: url(..//css/Images/Leprechaun.webp);
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
}

input {
	height: auto;
	width: auto;
	font-size: 2rem;
}

b {
    font-size: 2rem;
    font-style: italic;
    color: orange;
    margin: 20px auto;
    text-align: center;
}

div#refresh b {
    color: white;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px orange;
}

p {
	font-size: 2rem;
	font-style: italic;
	color: orange;
	margin: 20px auto;
	text-align: center;
}

.sections {
	margin: 20px auto;
	text-align: center;
}


#refresh {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	background-color: darkgrey;
}

a {
    color: green;
}

.output {
	margin: auto;
	margin-top: 1rem;
	padding: 1rem 2rem;
	border-width: 2px;
	/*border-style: solid;*/
}

#firstButton {
	font-size: 2rem;
	font-style: italic;
	color: green;
	background-color: darkorange;
}

#secondButton {
	font-size: 2rem;
	font-style: italic;
	color: white;
	background-color: green;
	background-color: limegreen;
}

#thirdButton {
	font-size: 2rem;
	font-style: italic;
	color: orange;
}

#finalButton {
	background-color: darkorange;
}

#fullPhrase {
	color: chartreuse;
	font-size: 3rem;
	font-style: normal;
}

button {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

button#refresh p {
	color: white;
	font-size: 1.5rem;
}

#sentence {
	color: green
}

footer {
	margin-top: 3rem;
}

.social-networks {
	max-width: 50vw;
	list-style-type: none;
	margin: 20px auto;
	padding: 0;
	text-align: center;
	margin-top: 1.5rem;
}

.social-networks li {
	display: inline-block;
	width: 20%;
	font-size: 4.5vmin;
}

.fab,
.far {
	font-weight: 400;
	color: rgb(22, 219, 22);
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}